---
import Layout from "@layouts/Base.astro"
---
<Layout title="Contact Us" description="Contact the GhostBots team">
    <div class="container mx-auto">
        <h1 class="font-header text-5xl md:text-7xl mb-6 text-tamarillo-700 text-center">Contact Us</h1>

        <div class="flex items-center justify-center" style="height: 100vh">
            <iframe
                id="google-form"
                class="text-center"
                src="https://docs.google.com/forms/d/e/1FAIpQLSfVPe5uoIKqakbyJCybd5mmDzFO38jtWs02BFh3gDz79m_NpA/viewform?embedded=true" 
                width="640">
                Loading…
            </iframe>
        </div>
    </div>
</Layout>

<style>
#google-form {
    height: 100%;
}
</style>
